$absolute-white: #ffffff;
$absolute-black: #000000;

$font-DaysOne: "Days One", sans-serif;

// === Размеры шрифтов ===
$font-size-h1: 2.25rem;
$font-size-h2: 1.5rem;
$font-size-h3: 2rem;
$font-size-desc: 2rem;
$font-size-title-name: 1.25rem;
$font-size-log-button: 0.8125rem;
$font-size-sort-button: 0.9375rem;
$font-size-info: 1rem;
$font-size-footer-link: 1rem;
$font-size-footer-text: 0.4375rem;
$font-size-p: 1.25rem;

// === Маржины и паддинги ===
$standart-margin: 6.25rem 0 0 0;
$section-margin: 6.25rem 3.75vw 0 3.75vw;
$section-padding: 2.5rem 0.625rem 2.5rem 0.625rem;

// === Цвета ===
$color-background: #2b2828;
$color-element: #001d22;
$color-text: #ffffff;
$color-link-hover: #00ffff;